GeneratedFiles/*
*.rej
*.sdf
*.suo
*.vcxproj.user
*.tlog
*.log
*.obj
*.idb
*.pdb
*.lastbuildstate
*.exe
*.manifest
*.ipch
*.res
*.ilk
**/x64/Debug/**
**/x64/Release/**
**/Win32/Debug/**
**/Win32/Release/**
*.opensdf
*.aps
*.bak
bin/*
bin_d/*
lib/*
*.orig
*.tmp
.vs
.qtc_clangd
testdata/**
